$primary: rgb(99, 179, 233);

.favourite-movies {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: $primary;
  margin: 0 1rem 0 1rem;

  .favourite-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}

// @media only screen and (max-width: 800px) {
@media (max-width: 767px) {
  .favourite-movies {
    align-items: center;
    .favourite-list {
      justify-content: center;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .favourite-movies {
    align-items: flex-start;
    .favourite-list {
      justify-content: center;
    }
  }
}
