$primary: rgb(99, 179, 233);
$secondary: #fff;
.movies {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  h1 {
    color: $primary;
  }

  .search-movies {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    color: $primary;
  }
}
@media only screen and (max-width: 600px) {
  .movies {
    text-align: center;

    .search-movies {
      justify-content: center;
    }
  }
}
