$primary: #63b3e9;
$messageColor: #808080;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;

  .message {
    border: 2px solid $primary;
    font-size: 26px;
    color: $messageColor;
    width: auto;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .App {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}
